@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --white: #ffffff;
  --grey: #414141;
  --purple: 	#3A2E87;
  --bake: #f7f7f0;
  --blue:#39A8E0;
  --green:#bbd73a;
}

a {
  text-decoration: none;
  color: var(--bake);
  
}

/* a:hover {
  color: var(--blue);
} */

.navbar__title a span{
  color: var(--green);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  /* color: black; */
}
section {
  padding: 90px 0;
  text-align: center;
  /* background: white; */
}

.container {
  width: 100%;
  display: inherit;
  max-width: 1200px;
  justify-content: inherit;
  margin: 0 auto;
  padding: 0 20px;
} 

.navbar {
  position: fixed;
  background: var(--purple);
  transition: background 0.3s;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  z-index: 5;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__title {
  font-size: 16px;
}

.navbar__links {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar__link {
  padding-left: 20px;
}

.navbar__link a {
  color: var(--bake);
  transition: color 0.3s;
}

.navbar__link a:hover {
  color: var(--green);
  transition: color 0.3s;
}

.navbar__menu {
  display: none;
  align-items: center;
  font-size: 35px;
} 
.home {
  min-height: 100vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background: var(--purple);
  position: relative;
}

.home__profile {
  height: 400px;
  margin-right: 70px;
}

.home__title {
  font-size: 30px;
  color: #f5f5f5;
  text-justify: flex-start;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about__description {
  text-align: left;
  color: var(--blue);
  padding-right: 105px;
  line-height: 40px;
}

.about__description h2 {
  color: var(--blue);
  font-size: 40px;
  margin: 20px 0;
}

.button--cta--zoom {
  display: flex;
  justify-self: center;
  background: var(--blue);
  color: var(--white);
  padding: 10px 40px;
  display: inline-block;
  align-self: center;
  margin: 20px auto;
  font: bold;
  border-radius: 10px;
}

.button--cta--zoom i {
  margin-right: 10px;
}

.button--cta--zoom:hover {
  background: var(--grey);
  color: white;
}

.button--cta {
  display: flex;
  justify-self: center;
  background: var(--purple);
  color: var(--white);
  padding: 10px 40px;
  display: inline-block;
  align-self: center;
  margin: 20px auto;
  font: bold;
  border-radius: 10px;
}

.button--cta i {
  margin-right: 10px;
}

.button--cta:hover {
  background: var(--grey);
  color: white;
}
.about__skills{
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__container__item{
  width: 260px;
  height: 370px;
  border-radius: 20px;
  overflow: hidden;
}

.carousel__container__item__img{
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.Rectangle-13 {
  width: 1440px;
  height: 281px;
  margin: 83px 0 77px;
  background-color: #349ff6;
}

.horario__description {
  text-align: left;
  color: var(--blue);
  padding-left: 115px;
  line-height: 40px;
}

.horario__description h2 {
  color: var(--blue);
  font-size: 40px;
  margin: 20px 0;
}

.button--cta--jovenes {
  display: flex;
  justify-self: center;
  background: var(--blue);
  color: var(--white);
  padding: 10px 40px;
  display: inline-block;
  align-self: center;
  margin: 20px auto;
  margin-right: 10px;
  font: bold;
  border-radius: 10px;
}

.button--cta--jovenes i {
  margin-right: 10px;
}

.button--cta--jovenes:hover {
  background: var(--grey);
  color: white;
}

.contact-main-container {
  width: 100%;
  min-height: 250px;
  text-align: justify;
  background-color: var(--blue);

}

.contact-main-container div{
  display: inline-block;
  width: 49.5%;
  height: 100%;
}

.contact-main-container div p {
  font-size: 16px;
  color: white; 
}

.contact-main-container .contact-left, .contact-right {
  text-align: initial;
}

.ayuda{
  padding: 0;
}

.container--ayuda {
  width: 100%;
  display: inherit;
  justify-content: inherit;
  margin: 0 auto;
  padding: 50px 0;
  background-color: var(--blue);
} 

.about__grid--ayuda {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.ayuda__description {
  display: inline;
  text-align: left;
  color: var(--white);
  padding-left: 255px;
  line-height: 40px;
  width: 450px;
}



.button--cta--ayuda {
  display: flex;
  justify-self: center;
  background: var(--green);
  color: var(--white);
  padding: 10px 40px;
  display: inline-block;
  align-self: center;
  margin: 20px auto;
  font: bold;
  border-radius: 10px;
  font-size: 24px;
}

.button--cta--ayuda i {
  margin-right: 10px;
}

.button--cta--ayuda:hover {
  background: var(--grey);
  color: white;
}
.ayuda__contacto{
  color: white;
}

footer{
  width: 100%;
  height: 90px;
  background-color:var(--purple);
  display: flex;
  justify-content: center;
}

footer p{
  color: white;
  margin: auto 0; 
  text-justify: center;
}
.between__section{
  padding: 0;
  padding-bottom: 140px;
}
.between__img {
  background-image: url(../assets/between.svg);
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 100%;
  position: absolute;
  z-index: -1;
  padding: 0;
}

.between__img--purple {
  background-image: url(../assets/Copia\ de\ Diseño\ sin\ título.svg);
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 100%;
  position: absolute;
  z-index: -1;
  padding: 0;
}
